.game-controls {
    position: relative;
    white-space: nowrap;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;
    background-color: #fafafa;
    padding: 0.3em;
    top: -0.5em;
    box-shadow: 2px 2px #707070;
    float: right;
}

.game-controls button {
    font-family: "Courier New", monospace;
    background-color: #dcdcdc;
    box-shadow: 2px 2px #707070;
    border: none;
    font-size: 18pt;
    margin: 0 0.05em;
    padding: 0.3em 0.1em;
    width: 2.2em;
    height: 1.5em;
    cursor: pointer;
}

.game-controls button[data-action='undo']::after {
    content: "Undo";
    padding: 0.4em;
    font-size: 12pt;
}

.game-controls .horizontal-placeholder {
    visibility: hidden;
}

.game-controls-settings {
    float: left;
    margin-left: 2.5%;
    text-align: left;
}

button {
    font-family: "Courier New", monospace;
    background-color: #dcdcdc;
    box-shadow: 2px 2px #707070;
    border: none;
    font-size: 13pt;
    margin-top: 0.3em;
    margin-right: 0.2em;
    margin-bottom: 0.5em;
    padding: 0.3em 0.3em;
    min-width: 2.2em;
    min-height: 1.8em;
    cursor: pointer;
}

button:active {
    box-shadow: 0 0 #000;
    background-color: #aaa;
}

.game-controls-settings label {
    padding: 0.5em 0;
    cursor: pointer;
}

.game-controls-settings div {
    padding: 0.5em 0;
}

#play input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] ~ .checkmark {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid black;
    top: 0.2em;
    position: relative;
    margin-right: 0.3em;
}

input[type="checkbox"]:checked ~ .checkmark:after {
    content: url("../media/ui/cross_black.svg");
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -12.5%;
    top: -12.5%;
}

button[data-action="save-game"]+small {
    margin: 0 0.3em;
    color: #009915;
    transition: 150ms linear;
}

input[type="text"] {
    box-shadow: 2px 2px #cecece;
    border: 1px solid #707070;
    padding: 0.35em;
    font-size: 0.85em;
}

input[type="text"] + button {
    position: relative;
    top: -0.1em;
}