@media only screen and (max-width: 600px) {
    nav, nav > ul {
        padding: 0;
    }

    nav > ul {
        overflow: hidden;
        max-height: 0;
        transition: max-height 500ms ease;
    }

    nav > ul > li {
        display: block;
        border: none;
        text-align: center;
        max-height: 50px;
    }

    nav > ul > li:last-child {
        border: none;
    }

    nav > ul > li > a {
        display: block;
        margin: auto;
        width: 100%;
    }

    nav {
        text-align: right;
    }

    nav > input[type="checkbox"] + label {
        margin: 0;
        padding: 0;
        display: inline-block;
        height: 3em;
        width: 3em;
        background: url("../media/ui/threebars.svg") no-repeat center;
        background-size: 75%;
    }

    nav > input[type="checkbox"]:checked ~ ul {
        max-height: 150px;
        transition: max-height 500ms ease;
    }

    section > .canvas-container {
        margin: unset;
    }

    .img-container {
        margin-bottom: 1em;
        display: block;
        float: unset;
    }

    .img-container img {
        margin: auto;
    }

    .img-container small {
        max-width: 100% !important;
        margin: auto;
    }

    .img-container.right {
        float:unset;
    }
}