
body {
    font-family: helvetica, arial, sans-serif;
    max-width: 1000px;
    margin: auto;
    border: 1px solid greenyellow;
}

nav {
    text-align: center;
}

nav > ul > li {
    display: inline-block;
    border: 1px solid maroon;
}

.canvas-container {
    border: 2px solid black;
    text-align: center;
    margin: auto;
    width: 95%;
}

.canvas-container canvas {
    border: 2px solid red;
    margin: auto;
}